---
title: GurtWest
subtitle: We're heading 4645 miles west of Bristol.
layout: layouts/base.liquid
---

<div class="container">
  <header>
    <h1>Gurt<span>West</span></h1>
    <img src="/images/us.jpg" alt="A photo of Liam and Rowena">
  </header>
  <main>
    <div class="intro">
      <p>We (<a href="https://www.instagram.com/rowenarum/">Rowena</a> and <a href="https://www.instagram.com/discoliam/">Liam</a>) decided it would be a good idea to move 4645 miles west of Bristol to Vancouver, Canada. We had every intention of blogging about the whole trip, but soon found we where too busy / lazy. So, you'll just have to settle for this <a href="https://www.instagram.com/gurtwest/">Instagram</a> feed instead.</p>
    </div>
    <div id="instafeed">
    </div>
  </main>
  <footer>
    &copy; 2018 Gurt West.
  </footer>
</div>